html
{
	font-size: 14.5px;
}

body
{
	background-color: #121212;
	color: #ffffff;	
	font-family: 'Hack', sans-serif;
}

a, a:hover, a:visited, a:active
{
	color:inherit;
	text-decoration: none;
}

img
{
	border-style: none;
}

@media (max-width: 1920px)
{
	.nav-wrap
	{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.circle
	{
		border-radius: 50%;
	}

	.glow
	{
		box-shadow: 0px 0px 10px 2px rgba(0,230,255,1);
	}

	.nav-img
	{
    	width: 80px;
    	margin-right: 20px;
    	margin-bottom: 40px;
    	margin-top: 40px;
	}

	.centered-text
	{
		text-align: center;
	}

	.white-text-glow
	{
		text-shadow: 0px 0px 15px #00e2ff;
		color: #ffffff;
		font-size: 50px;
	}

	.social-media-links
	{
		padding: 0.75rem;
		display: flex;
		flex-direction: row;
	}

	.social-buttons
	{
	    flex: 1;
    	background-color: #212121;
    	border: 0;
    	border-radius: 5px;
    	cursor: pointer;
    	height: 50px;
    	color: #00ffff;
    	font-size: 20px;
    	margin: 10px;
		transition: box-shadow .25s, -webkit-box-shadow .25s;
		box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
	}

	.social-buttons:hover
	{
		box-shadow: 3px 3px 30px #00dcff;
	}

	.grey
	{
		background-color: #212121;
	}

	.btn-floating
	{
	    display: inline-block;
    	color: #fff;
    	height: 40px;
    	line-height: 40px;
		margin-left: 15px;
		transition: background-color .3s;
		cursor: pointer;
		vertical-align: middle;
	}

	.description
	{
		background-color: #000000;
		box-shadow: 0 0 11px #bffcfb;
		padding: 0.75rem;
		text-align: center;
		margin-left: 20px;
		margin-right: 20px;
		border-radius: 6px;
		font-size: 18px;
	}

	.row1
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		padding: 0.75rem;
	}

	.col
	{
	    min-height: 1px;
    	width: 100%;
    	height: 450px;
    	background-color: #212121;
    	position: relative;
    	flex: 1;
    	border-radius: 5px;
    	margin: 10px;
		cursor: pointer;
	}

	.col:hover
	{
		box-shadow: 3px 3px 30px #00B0CC;
	}

	.project-preview
	{
		width: 100%;
		height: 75%;
	}

	.additional-card-info
	{
		display: grid;
		grid-template-areas:
			"a a b"
			"c c c";
    	grid-template-columns: 1fr 1fr;
	}

	.project-name
	{
		grid-area: a;
		float: left;
		color: #ffffff;
	}

	.programming-language
	{
		grid-area: b;
		float: right;
		color: #70ff2a;
	}

	.project-date
	{
		grid-area: c;
		color: #00ffff;
		font-size: 19px;
		margin: 40px 5px 0 5px;
	}

	.programming-language, .project-name
	{
		font-size: 26px;
		margin: 5px 5px 0 5px;
	}

	.footer
	{
		background-color: #212121;
		box-shadow: 0px 0px 10px 2px rgba(0,230,255,1);
		height: 150px;
		display: inline-block;
		position: absolute;
		box-sizing: border-box;
		line-height: 22.5px;
		left: 0;
		right: 0;
		margin-top: 10px;
	}

	.pages
	{
		height: 70px;
		display: flex;
		flex-direction: row;
		margin-top: 15px;
		justify-content: center;
    	color: #00ff00;
	}

	.specified-page
	{
	    padding: 10px;
    	height: 30px;
    	border: 1px solid #3f4444;
    	text-align: center;
    	margin-left: 2.5%;
    	margin-right: 2.5%;
    	cursor: pointer;
    	width: 30px;
    	border-radius: 5px;
    	background-color: #131313;
	}

	.specified-page:hover
	{
		box-shadow: 0 0 20px #53cdfd;
	}

	.dotfiles
	{
		color: #41f9ff;
		margin-top: 20px;
		text-align: center;
	}

	.dotfiles:hover
	{
		font-size: 16px;
	}

}
